$bg_darkGreen: #006666;
$bg_turquoise: #3ab8bc;
$bg_lightGreen: #e6f0f0;
$bg_lightGreenDisabled: #e6f0f0;
$bg_turquoise_bright: #00ead9;

$color_darkGreen: #006666;
$color_lightGreen: rgba(0, 102, 102, 0.45);
