@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;

  &:hover {
    .radio_container:not(.disabled) {
      border-color: $bg_turquoise_bright;
    }
  }
}
.radio_container {
  box-sizing: content-box;
  border: 2px solid $border_color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  &.checked,
  &:hover {
    border-color: $bg_turquoise_bright;
  }

  &.disabled {
    border-color: $border_disabled_color;
  }
}

.radio {
  background-color: $bg_turquoise_bright;
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
